@{
    if (ViewBag.status == 0)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if (ViewBag.status == 1)
    {
        Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
    }
    if (ViewBag.status == 2)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
